# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure-storage-blob>=12.20.0,<13.0.0
python-dotenv
azure-identity
azure-cosmos>=4.6.0,<5.0.0
pymongo>=4.7.2,<5.0.0
azure-identity
azure-keyvault-secrets
azure-search-documents==11.6.0b1
aiohttp
pypdf2
azure-ai-documentintelligence==1.0.0b3
openai
azure-core
opencensus-ext-azure